<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TICSET.Properties.Settings.MyUsersConnectionString"
            connectionString="Data Source=C:\Users\Usman\Documents\MyUsers.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>