<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TICSET.Properties.Settings.UserDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\UserDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="TICSET.Properties.Settings.UsersConnectionString"
            connectionString="Data Source=|DataDirectory|\Users.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
    </connectionStrings>
</configuration>