<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="TICSET.Properties.Settings.MyUsersConnectionString"
            connectionString="Data Source=C:\Users\Usman\Documents\MyUsers.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="TICSET.Properties.Settings.UserDatabaseConnectionString"
            connectionString="Data Source=|DataDirectory|\UserDatabase.sdf"
            providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="TICSET.Properties.Settings.UsersConnectionString"
            connectionString="Data Source=|DataDirectory|\Users.sdf" providerName="Microsoft.SqlServerCe.Client.3.5" />
        <add name="TICSET.Properties.Settings.UsersConnectionString1"
            connectionString="Data Source=C:\Users\JKANTER\Downloads\Users.sdf"
            providerName="Microsoft.SqlServerCe.Client.4.0" />
        <add name="TICSET.Properties.Settings.UsersConnectionString2"
            connectionString="Data Source=|DataDirectory|\Users.sdf" providerName="Microsoft.SqlServerCe.Client.4.0" />
    </connectionStrings>
</configuration>